* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, sans-serif;
    color: #4A4A4A;
}

h1, h2 {
    font-family: Tahoma, sans-serif;
}

h1 {
    font-weight: 900;
    font-size: 30px;
}

h2 {
    font-size: 26px;
    font-weight: 800;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
    font-weight: normal;
}

/* Header Section  */

header {
    height: 64px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background: rgba(255, 255, 255, 0.98);
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #9B9B9B;
    margin-left: 24px;
}

.logo strong {
    color: #4A4A4A;
}

.desktop-nav {
    display: flex;
    align-items: center;
    margin-right: 24px;
}

header li {
    display: inline-block;
    margin: 0 8px;
}

.mobile-nav {
    display: none;
}

@media only screen and (max-width: 645px) {
    .logo, .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
}

/* Banner Section  */

.banner {
    background: #D8D8D8;
    display: flex;
}

.banner .img-container {
    width: 60%;
    margin: 32px 24px;
    max-height: 450px;
    overflow: hidden;
}

.banner img {
    max-width: 100%;
}

.learn-everyday {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    max-width: 260px;
    width: 30%;
}

.learn-everyday h4 {
    margin: 24px 0;
}

button {
    color: white;
    background: #4A4A4A;
    width: 100%;
    border: 0;
    padding: 8px;
}

@media only screen and (max-width: 865px) {
    .banner {
        flex-wrap: wrap;
    }

    .banner .img-container {
        width: 100%;
        max-height: 400px;
        overflow: hidden;
        margin: 0;
    }

    .banner img {
        width: 100%;
        height: auto;
    }

    .learn-everyday {
        width: 100%;
        margin: 32px 16px 32px 16px;
        max-width: 100%;
    }
    
    .banner h4 {
        width: 100%;
    }

    .banner button {
        max-width: 300px;
        display: block;
        margin: auto;
    }
}

/* Practicing Section  */

.practicing-mobile {
    display: none;
}

/* left column  */

.keep-practicing {
    display: flex;
}

.keep-practicing .left-column {
    display: inline-block;
    width: 60%;
    padding: 32px 24px;
}

.keep-practicing .left-column .img-container {
    overflow: hidden;
}

.keep-practicing .left-column img {
    width: 100%;
}

.keep-practicing .left-column h2 {
    margin-top: 32px;
    margin-bottom: 24px;
}

.keep-practicing .left-column h5 {
    margin-bottom: 36px;
}

.quote-source {
    font-size: 12px;
}

/* right column  */

.keep-practicing .right-column {
    width: 40%;
    display: inline-block;
}

.keep-practicing .right-column .img-container {
    display: inline-block;
    width: 35%;
    overflow: hidden;
    padding: 16px;
}

.keep-practicing .right-column img {
    width: 100%;
    height: auto;
}

.keep-practicing .right-column .info {
    display: inline-flex;
    width: 65%;
    padding: 16px 0;
    align-content: center;
    flex-wrap: wrap;
}

.keep-practicing .right-column h4, .keep-practicing .right-column h5, .keep-practicing .right-column a {
    width: 100%;
    padding: 4px 0;
}

.keep-practicing .right-column h5 {
    line-height: 1.5;
}

.orientation {
    display: flex;
    padding-top: 16px;
}

.keep-practicing a {
    font-size: 14px;
}

.campus, .guest {
    display: flex;
}

/* .guest h4 {
    line-height: 4;
} */

.guest {
    background: #D8D8D8;
}

/* mobile  */

@media only screen and (max-width: 700px) {
    .keep-practicing .left-column, .keep-practicing .right-column {
        display: none;
    }

    .practicing-mobile {
        display: block;
        margin: 16px 16px 0px 16px;
        width: 100%;
    }

    .orientation, .campus, .guest {
        display: block;
    }
  
    .practicing-mobile .img-container {
        display: block;
        width: 100%;
        overflow: hidden;
        padding: 16px;
    }

    .practicing-mobile img {
        width: 100%;
    }

    .practicing-mobile .info {
        display: block;
        width: 100%;
        padding: 0 0 44px 32px;
        align-content: center;
        flex-wrap: wrap;
    }
      
    .practicing-mobile h4, .practicing-mobile h5, .practicing-mobile a {
        width: 100%;
        margin: 6px 0;
    }

    .practicing-mobile h5 {
        line-height: 1.5;
    }

    .guest {
        background: none;
    }
}

/* Start Learning Section  */

.start-learning {
    background: #D8D8D8;
}

.start-learning h2 {
    text-align: center;
    padding: 32px 0;
}

.start-learning .row1 {
    display: flex;
    margin: 0 62px 20px 62px;
}

.box {
    width: 33.33%;
    margin: 0 10px;
    background: white;
}

.box .img-container {
    width: 100%;
    overflow: hidden;
}

.box img {
    width: 100%;
    height: auto;
}

.box .info {
    margin: 16px 0 16px 16px;
}

.box h4, .box h5 {
    padding: 8px 8px 0 0;
}

.box .courses {
    text-transform: uppercase;
}

.box .wrapper {
    line-height: 1.5;
}

.start-learning .row2 {
    display: flex;
    padding: 0 62px 32px 62px;
}

.courses-mobile {
    display: none;
}

@media only screen and (max-width: 700px) {
    .start-learning {
        background: white;
        border-top: 0.5px solid #D8D8D8;
    }

    .start-learning h2 {
        padding: 32px 0;
    }

    .start-learning .row1, .start-learning .row2 {
        display: none;
    }

    .courses-mobile {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 32px;
    }

    .courses-mobile h4 {
        background: #D8D8D8;
        width: 90%;
        margin: 6px 0;
        padding: 20px 0 20px 16px;
    }

}

/* Thesis Section  */

.thesis-desktop {
    padding-bottom: 32px;
    display: flex;
    flex-wrap: wrap;
}

.thesis-desktop h2 {
    text-align: center;
    padding: 32px 0;
    width: 100%;
}

.thesis-desktop .left-column {
    width: 60%;
    padding: 0 24px;
}

.thesis-desktop video {
    width: 100%;
}

.thesis-desktop .left-column h4 {
    margin: 24px 0 8px 0;
}

.thesis-desktop .right-column {
    width: 40%;
}

.thesis-desktop .fisma, .thesis-desktop .now-then {
    display: flex;
}

.thesis-desktop .fisma {
    background: #D8D8D8;
}

.thesis-desktop .img-container {
    width: 35%;
    overflow: hidden;
    padding: 16px;
}

.thesis-desktop img {
    width: 100%;
    height: auto;
}

.thesis-desktop .info {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.thesis-desktop .right-column h4, .thesis-desktop .right-column h5 {
    width: 100%;
    padding: 4px 0;
}

.thesis-mobile {
    display: none;
}

@media only screen and (max-width: 700px) {
    .thesis-desktop {
        display: none;
    }

    .thesis-mobile {
        display: block;
        border-top: 0.5px solid #D8D8D8;
    }
    
    .thesis-mobile h2 {
        text-align: center;
        padding: 32px 0;
        width: 100%;
    }

    .thesis-mobile video {
        width: 100%;
        padding-bottom: 24px;
    }

}

/* Footer  */

footer {
    padding: 16px 24px 32px 24px;
    display: flex;
    justify-content: space-between;
    border-top: 0.5px solid #D8D8D8;
}

footer span {
    font-size: 10px;
}

.fa {
    font-size: 10px;
}

.terms-privacy span {
    padding: 0 4px;
}

@media only screen and (max-width: 500px) {
    .terms-privacy {
        display: none;
    }

    footer {
        border: none;
    }
}
