* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, sans-serif;
    color: #4A4A4A;
}

h1, h2 {
    font-family: Tahoma, sans-serif;
}

h1 {
    font-weight: 900;
    font-size: 30px;
}

h2 {
    font-size: 26px;
    font-weight: 800;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
    font-weight: normal;
}

/* Header Section  */

header {
    height: 64px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #9B9B9B;
    margin-left: 24px;
}

.logo strong {
    color: #4A4A4A;
}

.desktop-nav {
    display: flex;
    align-items: center;
    margin-right: 24px;
}

header li {
    display: inline-block;
    margin: 0 8px;
}

.mobile-nav {
    display: none;
}

@media only screen and (max-width: 645px) {
    .logo, .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
}

/* Banner Section  */

.banner {
    background: #D8D8D8;
    display: flex;
}

.banner .img-container {
    width: 60%;
    margin: 32px 24px;
    max-height: 450px;
    overflow: hidden;
}

.banner img {
    max-width: 100%;
}

.learn-everyday {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    max-width: 260px;
    width: 30%;
}

.learn-everyday h4 {
    margin: 24px 0;
}

button {
    color: white;
    background: #4A4A4A;
    width: 100%;
    border: 0;
    padding: 8px;
}

@media only screen and (max-width: 865px) {
    .banner {
        flex-wrap: wrap;
    }

    .banner .img-container {
        width: 100%;
        max-height: 400px;
        overflow: hidden;
        margin: 0;
    }

    .banner img {
        width: 100%;
        height: auto;
    }

    .learn-everyday {
        width: 100%;
        margin: 32px 16px 32px 16px;
        max-width: 100%;
    }
    
    .banner h4 {
        width: 100%;
    }

    .banner button {
        max-width: 300px;
        display: block;
        margin: auto;
    }
}

/* Practicing Section  */

.practicing-mobile {
    display: none;
}

/* left column  */

.keep-practicing {
    display: flex;
}

.left-column {
    display: inline-block;
    width: 60%;
    padding: 32px 24px;
}

.left-column .img-container {
    overflow: hidden;
}

.left-column img {
    width: 100%;
}

.left-column h2 {
    margin-top: 32px;
    margin-bottom: 24px;
}

.left-column h5 {
    margin-bottom: 36px;
}

.quote-source {
    font-size: 12px;
}

/* right column  */

.right-column {
    width: 40%;
    display: inline-block;
}

.right-column .img-container {
    display: inline-block;
    width: 35%;
    overflow: hidden;
    padding: 16px;
}

.right-column img {
    width: 100%;
    height: auto;
}

.right-column .info {
    display: inline-flex;
    width: 65%;
    padding: 16px 0;
    align-content: center;
    flex-wrap: wrap;
}

.right-column h4, .right-column h5, .right-column a {
    width: 100%;
    padding: 4px 0;
}

.right-column h5 {
    line-height: 1.5;
}

.orientation {
    display: flex;
    padding-top: 16px;
}

.keep-practicing a {
    font-size: 14px;
}

.campus, .guest {
    display: flex;
}

/* .guest h4 {
    line-height: 4;
} */

.guest {
    background: #D8D8D8;
}

/* mobile  */

@media only screen and (max-width: 700px) {
    .left-column, .right-column {
        display: none;
    }

    .practicing-mobile {
        display: block;
        margin: 16px 16px 32px 16px;
        width: 100%;
    }

    .orientation, .campus, .guest {
        display: block;
    }
  
    .practicing-mobile .img-container {
        display: block;
        width: 100%;
        overflow: hidden;
        padding: 16px;
    }

    .practicing-mobile img {
        width: 100%;
    }

    .practicing-mobile .info {
        display: block;
        width: 100%;
        padding: 0 0 44px 32px;
        align-content: center;
        flex-wrap: wrap;
    }
      
    .practicing-mobile h4, .practicing-mobile h5, .practicing-mobile a {
        width: 100%;
        margin: 6px 0;
    }

    .practicing-mobile h5 {
        line-height: 1.5;
    }

    .guest {
        background: none;
    }
}

/* Start Learning Section  */

.start-learning {
    background: #D8D8D8;
}

.start-learning h2 {
    text-align: center;
    padding: 32px 0;
}

.start-learning .row1 {
    display: flex;
    margin: 0 62px 20px 62px;
}

.box {
    width: 33.33%;
    margin: 0 10px;
    background: white;
}

.box .img-container {
    width: 100%;
    overflow: hidden;
}

.box img {
    width: 100%;
    height: auto;
}

.box .info {
    margin: 16px 0 16px 16px;
}

.box h4, .box h5 {
    padding: 8px 0;
}

.box .courses {
    text-transform: uppercase;
}

.box .wrapper {
    line-height: 1.5;
}

.start-learning .row2 {
    display: flex;
    padding: 0 62px 32px 62px;
}