* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, sans-serif;
    color: #4A4A4A;
}

h1 {
    font-weight: 900;
    font-size: 30px;
    font-family: Tahoma, sans-serif;
}

h4 {
    font-size: 16px;
}

/* Header Section  */

header {
    height: 64px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #9B9B9B;
    margin-left: 24px;
}

.logo strong {
    color: #4A4A4A;
}

.desktop-nav {
    display: flex;
    align-items: center;
    margin-right: 24px;
}

header li {
    display: inline-block;
    margin: 0 8px;
}

.mobile-nav {
    display: none;
}

@media only screen and (max-width: 645px) {
    .logo, .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
}

/* Banner Section  */

.banner {
    background: #D8D8D8;
    display: flex;
}

.img-container {
    width: 60%;
    margin: 32px 24px;
}

.banner img {
    max-width: 100%;
}

.learn-everyday {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    max-width: 260px;
    width: 30%;
}

.learn-everyday h4 {
    margin: 24px 0;
}

button {
    color: white;
    background: #4A4A4A;
    width: 100%;
    border: 0;
    padding: 8px;
}

@media only screen and (max-width: 843px) {
    .banner {
        flex-wrap: wrap;
    }

    .banner .img-container {
        width: 100%;
        max-height: 400px;
        overflow: hidden;
        margin: 0;
    }

    .banner img {
        width: 100%;
        height: auto;
    }

    .learn-everyday {
        width: 100%;
        margin: 32px 16px 32px 16px;
        max-width: 100%;
    }
    
    .banner h4 {
        width: 100%;
    }

    .banner button {
        max-width: 300px;
        display: block;
        margin: auto;
    }
}