html {
    font-family: Helvetica, sans-serif;
}

/* Header Section  */

header {
    height: 64px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: gray;
    margin-left: 24px;
}

.logo strong {
    color: black;
}

.desktop-nav {
    display: flex;
    align-items: center;
    margin-right: 24px;
}

header li {
    display: inline-block;
    margin: 0 8px;
}

.mobile-nav {
    display: none;
}

@media only screen and (max-width: 645px) {
    .logo, .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
}